header{
    
    height:120px; 
    width:80%;
    margin: auto 0;
    margin-left: 10%;
    display: block;
    text-align: center;      
}


maindiv{
     margin-left: 10%;
     margin-right: 10%;
     width: 70%;
    display: block;
    
    
}

headtxt{
text-align: center;
    font-size:27px;
    
    
}

seconddiv{
  text-align: center;
     padding:10px; 
      margin: auto 186;
    display: block;
    
    
}